body{
	margin:0;
	background:#f6f6f6; 
    font-family: 'Open Sans', sans-serif;
}
.mainNavbar {
	padding: 20px 205px;
	position: relative;
}
.headeSection {
	position: relative;
	overflow: hidden;
}
.innerHead1 {
	height: 800px;
	background: url(../photo/intro-bg.jpg);
	background-size: cover;
	position: relative;
}
.headNav a{
    font-size: 26px;
    font-weight: 600;
    color: #eee;
}
.ulNav a{
	color: #d2e4da;
    letter-spacing: 1px;
    margin-right: 10px;
	font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.centerNav{
	text-align: center;
	color: white;
	margin: auto;
	width: 800px;
    margin-top: 175px;
}
.centerNav span{
	font-size: 64px;
    font-weight: 700;
    letter-spacing: -1px;
}
.centerNav p{
    font-size: 19px;
    line-height: 28px;
    padding: 0 150px;
}
.centerNav button , .innerHead2 button{
    border: none;
    background: #1E7A46;
    border-bottom: 4px solid #1b6d3f;
    padding: 14px 20px;
    letter-spacing: 1px;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    border-radius: 4px;
    margin-top: 45px;
    transition: all 0.3s;
}
.btn-lg a{
	color: white;
	text-decoration: none;
}
.degree1{
	transform: rotate(3deg) translate(3px);
	width: 55%;
	height: 90px;
	position: absolute;
	z-index: 5;
	left: -10px;
	bottom: -25px;
	background:#f6f6f6;
}
.degree2{
	transform: rotate(-3deg) translate(3px);
	width: 55%;
	height: 90px;
	position: absolute;
	z-index: 5;
	right: -10px;
	bottom: -25px;
	background:#f6f6f6;
}
/*-----------INNERHEAD2-----------------*/
.innerHead2 {

	width: 74%;
	background: gray;
	margin: auto;
}
.col-md-4{
	margin-top: 100px;
	margin-bottom: 100px;
	border-left:20px; 
	box-sizing: border-box;
}
.col-md-4 h2 {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 36px;
    color: #333;
    margin-top: 70px;
}
hr {
    height: 2px;
    width: 70px;
    background: #1E7A46;
    margin: 25px 0;
    border: 0;
}
.col-md-4 p {
	color: #666;
    line-height: 24px;
    font-size: 16px;
}
.inner2div2 {
	padding: 5px;
	background: white;
	width: 343px;
}
.inner2div2 img {
    margin: 5px 7px;
}
.col-md-4 h3 {
	margin-top: 70px;
}
/*-------------//////\\\\\\--------------
			 SERVICE SECTION
---------------\\\\\\//////--------------*/
.serviceSection {
	background: white;
	text-align: center;
}
.innerSer1 {
	padding-top:90px;
	padding-bottom: 70px; 
}
.innerSer1 hr {
    height: 2px;
    width: 70px;
    background: #1E7A46;
    margin: 22px auto;
}
.innerSer2 {
	width: 74%;
	margin: 0 auto;
}